<div class="container flex justify-center items-center md:h-full m-auto">
  <div class="w-full max-md:p-4 max-w-5xl md:h-full flex flex-col justify-center">
    <h1
      class="text-2xl font-bold text-center text-wrap break-words max-w-[160px] uppercase mx-auto tracking-[20px] leading-[40px] text-primary">
      Splitter
    </h1>
    <div class="p-6 px-8 mt-10 bg-white rounded-3xl shadow">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4">
        <form [formGroup]="billForm" (ngSubmit)="onSubmit()">
          <div class="mb-11">
            <label for="first_name" class="block mb-2 text-sm  text-primary font-bold">Bill</label>
            <div class="relative">
              <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                <span class="text-gray-500 sm:text-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    class="bi bi-currency-rupee fill-primary/50" viewBox="0 0 16 16">
                    <path
                      d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z" />
                  </svg>

                </span>
              </div>
              <input type="number"
                class="bg-gray-50  text-right text-primary font-bold text-lg rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-3 focus:outline-primary-500 hover:appearance-none appearance-none"
                placeholder="0" formControlName="billAmount" />

            </div>
            @if(billForm.get('billAmount')?.touched && billForm.get('billAmount')?.invalid){
            @if(billForm.get('billAmount')?.hasError('required')){
            <small class="text-red-700">
              Bill amount is required.
            </small>
            }
            @if(billForm.get('billAmount')?.hasError('min')){
            <small class="text-red-700">
              Bill amount must be greater than zero.
            </small>
            }
            }
          </div>
          <div class="mb-11">
            <label for="first_name" class="block mb-2 text-sm  text-primary font-bold">Select Tip %</label>
            <div class="grid grid-cols-3 gap-4">
              @for(value of predefinedValues; track value) {
              <button  [ngClass]="{'bg-primary-500': selectedPredefinedTip === value}" class="p-2.5 rounded-lg bg-primary text-white font-bold text-xl lg:text-2xl" type="button"
                (click)="onButtonClick(value)">{{value}}%</button>
              }
              <button class="p-2.5 bg-[#F3F8FC] text-xl lg:text-2xl font-bold text-primary" type="button"
                (click)="onCustom()">Custom</button>
            </div>
            @if(billForm.hasError('tipRequired') && billForm.get('predefinedValue')?.touched){
            <div>

              <small class="text-red-700">
                You must select a predefined tip percentage or enter a custom value.
              </small>

            </div>
            }
          </div>
          @if(customValue){
          <div class="mb-11">
            <label for="first_name" class="block mb-2 text-sm  text-primary font-bold">Tip
              Percentage</label>
            <div class="relative">
              <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                <span class="text-gray-500 sm:text-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-percent fill-primary/50"
                    viewBox="0 0 16 16">
                    <path
                      d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0M4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5m7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                  </svg>

                </span>
              </div>
              <input type="text"
                class="bg-gray-50  text-right text-primary font-bold text-lg rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-3 focus:outline-primary-500 hover:appearance-none appearance-none"
                placeholder="" formControlName="tipPercentage" />
            </div>
            @if(billForm.get('tipPercentage')?.touched && billForm.get('tipPercentage')?.invalid){
            <div>
              @if(billForm.get('tipPercentage')?.hasError('min')){
              <small class="text-red-700">
                Tip percentage must be a positive number.
              </small>
              }
            </div>
            }
          </div>
          }

          <div class="mb-6">
            <label for="first_name" class="block mb-2 text-sm  text-primary font-bold">No. of
              People</label>
            <div class="relative">
              <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                <span class="text-gray-500 sm:text-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    class="bi bi-person-fill fill-primary/50" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                  </svg>

                </span>
              </div>

              <input type="text"
                class="bg-gray-50  text-right text-primary font-bold text-lg rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-3 focus:outline-primary-500 hover:appearance-none appearance-none"
                placeholder="0" formControlName="peopleQty" type="number" />

            </div>
            @if(billForm.get('peopleQty')?.touched && billForm.get('peopleQty')?.invalid){
            <div class="text-red-700">
              @if(billForm.get('peopleQty')?.hasError('required')){
              <small>
                Number of people is required.
              </small>
              }
              @if(billForm.get('peopleQty')?.hasError('min')){
              <small>
                Number of people must be at least 1.
              </small>
              }
            </div>
            }
          </div>

        </form>
        <div class="bg-primary px-10 py-7 rounded-2xl">
          <div class="flex flex-col h-full justify-between">
            <div>
              <div class="mb-10 flex justify-between items-center">
                <p class="text-white text-sm font-medium">Tip Amount
                  <span class="text-white/50 block">/ person</span>
                </p>
                <h3 class="text-primary-500 text-4xl font-bold flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    class="bi bi-currency-rupee" viewBox="0 0 16 16">
                    <path
                      d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z" />
                  </svg>
                  {{splitPerPerson | number : '.2-2'}}
                </h3>
              </div>
              <div class="mb-3 flex justify-between items-center">
                <p class="text-white text-sm font-medium">Total
                  <span class="text-white/50 block">/ person</span>
                </p>
                <h3 class="text-primary-500 text-4xl font-bold flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    class="bi bi-currency-rupee" viewBox="0 0 16 16">
                    <path
                      d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z" />
                  </svg>{{totalAmount | number : '.2-2'}}
                </h3>
              </div>
            </div>
            <div class="w-full">
              <button (click)="reset()" [disabled]="!billForm.valid" [ngClass]="{'bg-primary-600': billForm.valid}"
                class="mb-3 bg-primary-800 text-xl text-primary-900 w-full p-3 rounded-lg uppercase">Reset</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
